#contenido{
    background-color: #2B292E;
    color: white;
}
.Inicio{
    display: flex;
    justify-content: center;
}
#piePagina{
    background-color: #2B292E;
    color: white;
    text-align: center;
}
.lineaDireccion{
    display: inline;
}
.card-img-top{
     height: 100%;
     width: 100%;
}

.card{
    border: 2px solid black;
    margin: 10px;
}

.card-group{
    display: flex;
}

.Continuar{
  width: 100%;
     height: auto;
}
.Peliculas{
   margin: 10px 20px;
 float: left;
 width: 350px;
 
}