#contenido{
    background-color: #2B292E;
    color: white;
}
.Inicio{
    display: flex;
    justify-content: center;
}

#piePagina{
    background-color: #2B292E;
    color: white;
    text-align: center;
}
.lineaDireccion{
    display: inline;
}

.formularioR{
    background-color: #2B292E;
    osit
}